"AppBuild"
{
    "AppID"         "YOUR_APP_ID"
    "Desc"          "LogicHunter v0.9.0"
    "BuildOutput"   "../output/"
    "ContentRoot"   "../content/"
    "SetLive"       "beta"

    "Depots"
    {
        "YOUR_DEPOT_ID"    "depot_build_windows.vdf"
    }
}
