"DepotBuild"
{
    "DepotID"       "YOUR_DEPOT_ID"
    "ContentRoot"   "../content/Windows/"

    "FileMapping"
    {
        "LocalPath"  "*"
        "DepotPath"  "."
        "recursive"  "1"
    }

    "FileExclusion"     "*.pdb"
    "FileExclusion"     "*_BackUpThisFolder_ButDontShipItWithYourGame/*"
    "FileExclusion"     "*_BurstDebugInformation_DoNotShip/*"
}
